streamlit==1.54.0
langchain==1.2.10
langchain-openai==1.1.10
python-dotenv==1.2.1
pypdf==6.7.2
faiss-cpu==1.13.2
langchain-community==0.4.1
bs4==0.0.2
requests==2.32.5
python-docx==1.2.0
pytest==8.3.5
